In [2]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.4.0-cp310-cp310-win_amd64.whl (16.4 MB)
     --------------------------------------- 16.4/16.4 MB 10.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.4.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector 

cnx = mysql.connector.connect(user='root', password='Student123@', host='127.0.0.1', database='university_database')

In [6]:
mycursor = cnx.cursor()
mycursor.execute('SHOW TABLES')
for x in mycursor:
    print(x)

('enrolment',)
('student',)
('teacher',)
('unit',)
('workload',)

In [7]:
Query = "SELECT * FROM student"
cursor = cnx.cursor()
cursor.execute(Query)
for x in mycursor:
    print(x)

('S001', 'MICHAEL BEVAN', datetime.date(1960, 9, 15), Decimal('3.20'), 'CHATSWOOD')
('S002', 'BRIAN LARA', datetime.date(1965, 2, 10), Decimal('4.00'), 'MARSFIELD')
('S003', 'VIVAN RICHARDS', datetime.date(1958, 11, 12), Decimal('4.50'), 'BURWOOD')
('S004', 'JAVED MIANDAD', datetime.date(1966, 5, 5), Decimal('3.50'), 'RYDE')
('S005', 'VIRAT KOHLI', datetime.date(1988, 10, 15), Decimal('4.30'), 'AUBURN')
('S006', 'BABAR AZAM', datetime.date(1991, 4, 20), Decimal('4.20'), 'LAKEMBA')
('S007', 'KUMAR SANGAKARA', datetime.date(1980, 1, 26), Decimal('3.70'), 'REDFERN')